html {
    margin : 0;
}

.section-container {
    margin   : 0;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100vh;
    position : fixed;
}

.section-left {
    outline : solid black;
    float   : left;
    width   : 75%;
    height  : 100%;
}

.section-right {
    outline : solid black;
    float   : left;
    width   : 25%;
    height  : 100%;
}