.stream-container {
    width  : 100%;
    height : 77.5%;
}

.stream-main {
    width  : 100%;
    height : 100%;
}

#main-stream {
    width  : 100%;
    height : 100%;
}

/*====================================

    The right section

=====================================*/
.chat-content {
    outline : 1px solid #cccccc;
    width   : 100%;
    height  : 72.5%;
}

.chat-lines {
    list-style : none;
}

.chat-line {
    text-align : -webkit-match-parent;
    display    : list-item;
    list-style : none unset none;
}

/*---------------↑聊天信息栏↑-------------------*/

.chat-toolbar {
    outline : 1px solid #cccccc;
    width   : 100%;
    height  : 5%;

}

.chat-toolbar > .toolbar-button {
    position : relative;
    float    : left;
}

.toolbar-button {
    width               : 50%;
    display             : inline-block;
    padding             : 6px 12px;
    font-size           : 14px;
    font-weight         : normal;
    line-height         : 1.42857143;
    text-align          : center;
    white-space         : nowrap;
    vertical-align      : middle;
    -ms-touch-action    : manipulation;
    touch-action        : manipulation;
    cursor              : pointer;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    border              : 1px solid transparent;
    background          : transparent none;
}

.toolbar-button > i {
    font-size : 20px;
}

.toolbar-button:focus,
.toolbar-button:active:focus,
.toolbar-button.active:focus,
.toolbar-button.focus,
.toolbar-button:active.focus,
.toolbar-button.active.focus {
    color            : #fff;
    background-color : #286090;
    border-color     : #122b40;
    outline          : 5px auto -webkit-focus-ring-color;
    outline-offset   : -2px;
}

.toolbar-button:hover,
.toolbar-button:focus,
.toolbar-button.focus {
    color            : #fff;
    background-color : #286090;
    border-color     : #204d74;
    text-decoration  : none;
}

.toolbar-button:active,
.toolbar-button.active {
    color              : #fff;
    border-color       : #204d74;
    background         : #286090 none;
    outline            : 0;
    -webkit-box-shadow : inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow         : inset 0 3px 5px rgba(0, 0, 0, .125);
}

/*---------------↑工具栏↑-----------------------*/

.chat-textarea-container {
    outline : 1px solid #cccccc;
    height  : 22.5%;
}

.chat-textarea {
    display            : block;
    overflow           : auto;
    width              : 100%;
    height             : 70%;
    font-size          : large;
    padding            : 5px;
    border             : none;
    border-top         : 1px solid #cccccc;
    border-bottom      : 1px solid #cccccc;
    outline            : 1px solid #ccc;
    box-sizing         : border-box;
    box-shadow         : inset 0 2px 2px rgba(0, 0, 0, .075);
    -webkit-box-shadow : inset 0 2px 2px rgba(0, 0, 0, .075);
    transition         : outline ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition      : outline ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition : outline ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.chat-textarea:focus {
    border-color       : #66afe9;
    outline            : 0;
    -webkit-box-shadow : inset 0 6px 6px rgba(0, 0, 0, .075), 0 0 12px rgba(18, 73, 233, 0.6);
    box-shadow         : inset 0 6px 6px rgba(0, 0, 0, .075), 0 0 12px rgba(18, 73, 233, 0.6);
}

.send-button-group {
    width      : 100%;
    height     : 30%;
    text-align : center;
    margin     : 4px auto 2px auto;
}

.send-button {
    width          : 47%;
    color          : #fff;
    display        : inline-block;
    padding        : 6px 12px;
    font-size      : 14px;
    font-weight    : normal;
    line-height    : 1.42857143;
    text-align     : center;
    white-space    : nowrap;
    vertical-align : middle;
    touch-action   : manipulation;
    cursor         : pointer;
    user-select    : none;
    background     : #337ab7 none;
    margin         : 1px 0 3px 1px;
    border         : 1px solid transparent;
    border-radius  : 2px;
}

.send-button:focus,
.send-button:active:focus,
.send-button.active:focus,
.send-button.focus,
.send-button:active.focus,
.send-button.active.focus {
    color            : #fff;
    background-color : #286090;
    border-color     : #122b40;
    outline          : 5px auto -webkit-focus-ring-color;
    outline-offset   : -2px;
}

.send-button:hover,
.send-button:focus,
.send-button.focus {
    color            : #fff;
    background-color : #286090;
    border-color     : #204d74;
    text-decoration  : none;
}

.send-button:active,
.send-button.active {
    color              : #fff;
    border-color       : #204d74;
    background         : #286090 none;
    outline            : 0;
    -webkit-box-shadow : inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow         : inset 0 3px 5px rgba(0, 0, 0, .125);
}

/*---------------↑输入框组↑-----------------------*/

/*====================================

    icons

=====================================*/
#icons {
    bottom   : 77px;
    left     : 6vw;
    position : absolute;
}

circle {
    fill         : #666;
    fill-opacity : 0.6;
}

svg.on circle {
    fill-opacity : 0;
}

/* on icons are hidden by default */
path.on {
    display : none;
}

/* off icons are displayed by default */
path.off {
    display : block;
}

/* on icons are displayed when parent svg has class 'on' */
svg.on path.on {
    display : block;
}

/* off icons are hidden when parent svg has class 'on' */
svg.on path.off {
    display : none;
}

svg {
    border-radius              : 48px;
    box-shadow                 : 2px 2px 24px #444;
    display                    : block;
    margin                     : 0 0 3vh 0;
    transform                  : translateX(calc(-6vw - 96px));
    transition                 : all .1s;
    transition-timing-function : ease-in-out;
}

svg:hover {
    box-shadow : 4px 4px 48px #666;
}

#icons.active svg {
    transform : translateX(0);
}

#mute-audio {
    transition : 40ms;
}

#mute-audio:hover,
#mute-audio.on {
    background : #407cf7;
}

#mute-audio:hover circle {
    fill : #407cf7;
}

#mute-video {
    transition : 120ms;
}

#mute-video:hover,
#mute-video.on {
    background : #407cf7;
}

#mute-video:hover circle {
    fill : #407cf7;
}

#switch-video {
    transition : 200ms;
}

#switch-video:hover {
    background : #407cf7;
}

#switch-video:hover circle {
    fill : #407cf7;
}

#fullscreen {
    transition : 280ms;
}

#fullscreen:hover,
#fullscreen.on {
    background : #407cf7;
}

#fullscreen:hover circle {
    fill : #407cf7;
}

#hangup {
    transition : 360ms;
}

#hangup:hover {
    background : #dd2c00;
}

#hangup:hover circle {
    fill : #dd2c00;
}